@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.landing {
  position: relative;
  background-image: url("./assets/authPic.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register-bg,
.reset-bg {
  background-image: url(./assets/register&reset.jpeg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-img {
  background-image: url(./assets/user-image.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.login-bg {
  background-image: url(./assets/login-bg.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.change-bg,
.verify-bg {
  background-image: url(./assets/change&verify.jpg);
  background-size: 100% 100%;
  background-position: center ;
  background-repeat: no-repeat;
}
.forget-bg{
  background-image: url(./assets/forget-bg.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
